@font-face{font-family:'Open Sans';src:local("Open Sans"),local("OpenSans"),url(../../fonts/OpenSans.woff2) format("woff2"),url(../../fonts/OpenSans.woff) format("woff")}@font-face{font-weight:700;font-family:'Open Sans';src:local("Open Sans Bold"),local("OpenSans-Bold"),url(../../fonts/OpenSans.Bold.woff2) format("woff2"),url(../../fonts/OpenSans.Bold.woff) format("woff")}@font-face{font-style:italic;font-family:'Open Sans';src:local("Open Sans Italic"),local("OpenSans-Italic"),url(../../fonts/OpenSans.Italic.woff2) format("woff2"),url(../../fonts/OpenSans.Italic.woff) format("woff")}@font-face{font-style:italic;font-weight:700;font-family:'Open Sans';src:local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url(../../fonts/OpenSans.Bold.Italic.woff2) format("woff2"),url(../../fonts/OpenSans.Bold.Italic.woff) format("woff")}@font-face{font-weight:300;font-family:'Open Sans';src:local("Open Sans Light"),local("OpenSans-Light"),url(../../fonts/OpenSans.Light.woff2) format("woff2"),url(../../fonts/OpenSans.Light.woff) format("woff")}@font-face{font-family:'Source Code Pro';src:local("Source Code Pro"),local("SourceCodePro-Regular"),url(../../fonts/SourceCodePro.woff2) format("woff2"),url(../../fonts/SourceCodePro.woff) format("woff")}@font-face{font-weight:700;font-family:'Source Code Pro';src:local("Source Code Pro Bold"),local("SourceCodePro-Bold"),url(../../fonts/SourceCodePro.Bold.woff2) format("woff2"),url(../../fonts/SourceCodePro.Bold.woff) format("woff")}

html, body {
  padding: 0;
  margin: 0;
}

body {
  --accent: #3a2d72;
  height: 450px;
  display: grid;
  grid-template-areas:
    "input toolbar"
    "input output";
  grid-template-rows: 2em 1fr;
  grid-template-columns: 0fr 1fr;
  grid-column-gap: 1em;
}

#input {
  grid-area: input;
  width: 600px;
}

#output {
  grid-area: output;
}

#toolbar {
  grid-area: toolbar;
  text-align: right;
}

#input, #output, #toolbar {
  margin: 0;
  color: var(--accent);
}

#input, #output {
  border: 2px solid;
  padding: .5em;
  font: 15pt/1.5 'Source Code Pro';
  font-weight: bold;
  letter-spacing: -.05ex;
  white-space: pre;
  overflow: scroll;
}
